body{
    background-image:url(2.jpg);
    background-size: cover;
    background-position: center;
    }
    h3{
    font-size: 25px !important;
    }
    .btn-success:hover{
    background-color: darkviolet;
    }
    canvas{
    animation-name:example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    }